@using Microsoft.AspNet.Identity
@model TiendaVirtual.Pedidos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container">
    <h4>Productos</h4>
    <hr />
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cliente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cliente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Factura)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Factura)
            </dd>
        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index") |
    @if (User.Identity.GetUserName() == "admin@gamewarriors.com")
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
</p>
